<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: main-header('Ad')" />
</head>
<body>
<th:block th:replace="fragments/navbar :: top-nav" />

<main class="container">
    <form th:action="@{/ads/create}" th:method="post" th:object="${ad}">
        Title:<input th:field="*{title}"/><br/>
        Description<input th:field="*{description}"/><br/>
        <button class="btn btn-info">Create</button>
    </form>
</main>

<th:block th:replace="fragments/scripts :: scripts"></th:block>

</body>
</html>