<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: main-header('Ad')" />
</head>
<body>
<th:block th:replace="fragments/navbar :: top-nav" />

<main class="container">
    <div class="card">
        <h1 class="card-title" th:text="${ad.title}" />
        <img th:each="img : ${ad.images}" th:src="${img.path}" alt="doggies" />
        <p class="card-text" th:text="${ad.description}" />
        <a href="#" th:text="${ad.user.email}"></a>
    </div>
</main>

<th:block th:replace="fragments/scripts :: scripts"></th:block>

</body>
</html>